* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #160C28;
    --secundary-color: #255C99;
    --button-color: #2667FF;
    --button-hover: #1b429e;
    --link-color: #06AED5;
    --rotate-color-one: #3B28CC;
    --rotate-color-two: #C200FB;
    --rotate-color-three: #DE1A1A;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../imagens/background-photo.jpg);
    background-position: center;
    background-size: cover;
}

.container > .content {
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;

    background-color: var(--primary-color);
    color: #fff;

    border: 3px solid transparent;
    background-clip: padding-box;
    box-shadow: 0px 0px 100px #2667FF;
    
    /* Criando a animação */
    animation-name: rotateBorder, appear_content;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-duration: 1s, 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite, 1;
}

.container > .content > h1 {
    font-size: 3em;
}

.container > .content > p {
    font-size: 2.5em;
    margin-top: 20px;
}

/* Configurações do button */

.container > .content > a > button {
    padding: .7em;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 100%;
    margin-top: 100px;
    cursor: pointer;

    background-color: var(--button-color);
    color: #fff;
}

.container > .content > a > button:hover {
    transition: .8s;

    background-color: var(--button-hover);
}


/* Configurações do button spin */

.content > a > .load > button {
    padding: .2em;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 100%;
    margin-top: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--button-color);
    color: #fff;
}

#load {
    display: none;
}

.content > a > .load > button > .spin {
    height: 40px;
    width: 40px;

    border-radius: 50%;
    border: 3px solid #fff;
    border-bottom-color: transparent;

    animation-name: spin;
    animation-timing-function: ease-in-out;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
}


/* Configurações keyframe do spin */

@keyframes spin {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }

}

/* Keyframe para o border do content */

@keyframes rotateBorder {
    0% {
        border-image: linear-gradient(45deg, var(--rotate-color-one), var(--rotate-color-two)) 1;
    }
    50% {
        border-image: linear-gradient(135deg, var(--rotate-color-one), var(--rotate-color-two)) 1;
    }
    70% {
        border-image: linear-gradient(360deg, var(--rotate-color-three), var(--link-color)) 1;
    }
    100% {
        border-image: linear-gradient(45deg, var(--rotate-color-one), var(--rotate-color-two)) 1;
    }
}

/* Keyframe para animação para o content */

@keyframes appear_content {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}